
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "Roboto", Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main textarea {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "Roboto", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.main .icon {
  width: 300px;
  height: fit-content;
}
.main h3 {
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
  color: #3b3d41;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width:max-content;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #d34e3c;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #d34e3c;
  width: min-content;
  flex-direction: column;
  align-items: center;
}
.main textarea[type="text"] {
  padding: 20px 20px;
  border: 1px solid #d34e3c;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #d34e3c;
  width: 80vh;
  height: 10vh;
  display: block;
  resize: none;
}
.main ::placeholder {
  color: #000000;
  opacity: 0.8;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #d34e3c;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin: initial;
}
.main .result1 {
  font-weight: bold;
  white-space: pre-line;

  margin: 2vh;
}

.main .result2 {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 100px;
  white-space: pre-line;
  width: 550px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.main .buttonleft {
  background-image: url('/arrow_left.png');
  background-size: 100% 100%;
  padding: 10px 20px; /* adjust as needed */
  border: none;
  background-color: transparent;
}

.main .buttonright {
  background-image: url('/arrow_right.png');
  background-size: 100% 100%;
  padding: 10px 20px; /* adjust as needed */
  border: none;
  background-color: transparent;
}

.main .questionAndAnswer {
  width: 300px;
  display: inline-block;
  border: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  padding: 20px;
  margin: 0px 40px 0px 40px;
}

.main .containerLeftArrow {
  justify-content: center;
  display: inline-block;
  vertical-align: middle; 
  position: absolute;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);
  top: 50%;
}

.main .containerRightArrow {
  justify-content: center;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);
  top: 50%;
}

.main .answer {
  margin-bottom: 0px;
}

